@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply max-w-[1600px] mx-auto px-2 sm:px-3 md:px-4 lg:px-5;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/*  */
/*  */

.hide-x-scrollbar {
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox – keeps vertical visible */
}

/* Chrome, Safari, Edge */
.hide-x-scrollbar::-webkit-scrollbar:horizontal {
  height: 0px;
}

.sticky-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 12px 16px;
  border-top: 1px solid #e5e5e5;
  z-index: 10;
}

@media (max-width: 1023px) {
  .sticky-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari, Opera, modern Edge */
    display: none;
  }
}
